* { margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 5000px;
    font-family: sans-serif
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(21, 156, 127); 
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
}
.img1{
    width: 100px;
    height: 60px;
    float: left;
    margin-left: 150px;
    border-radius: 30px
}
.ii {
    font-size: 30;
    padding-top: 8px;
}
ul{
    list-style: none;
    float: right;
    margin-right: 100px;
    text-align: center;
}
.li1{
    display: inline-block;
    margin-left: 20px;
    color:white;
    font-size: 20px;
}
.li1  a {
    text-decoration: none;
    color: rgb(170, 8, 8);
    text-transform: capitalize;
    font-weight: bolder;
}
.li1 a:hover {
    text-decoration: underline;
}
.home {
    width: 100%;
    height: 100vh ;
    background-image: url(../Images/content.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home-overlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6)  ;
}
.home-content {
    width: 70%; 
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50% );
}
.home-title1 {
    color: #fff;
    font-size: 65px;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-transform: capitalize;
}
.home-btn {
    width:400px;
    padding: 15px 0px;
    border-radius: 30px;
    border: 0 ;
    cursor: pointer ;
    font-size: 20px;
    background-color: aqua;
    color:#fff;
    margin-top: 100px;
}
.home-btn:hover {
    opacity: 0.6;
    color: #000;
}
.welc-title {
    text-align: center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
    padding-top: 100px;
}
.welc-title:hover {
    color: darkred;
}
.welc-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;
    
}
.welc-content{
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 100px;
    overflow: auto;
}
.welc-item1 {
      width: 350px;
      height: 350px;
      border: 1px  solid  rgb(62, 142, 167); ;
      text-align: center;
      float: left;
      margin-left: 100px;
      position: relative;
}
.title1 {
    padding: 30px;
    color: #000;
}
.welc-item1 a {
    margin-top: 60px;
}
.welc-item2 {
    width: 350px;
    height: 350px;
    border: 1px  solid  rgb(62, 142, 167); ;
    text-align: center;
    float: left;
    margin: 0px  70px;
    position: relative;
}
.welc-item2 a {
  margin-top: 45px;
}
.welc-item3 {
    width: 350px;
    height: 350px;
    border: 1px  solid  rgb(62, 142, 167);
    text-align: center;
    float: left;
    position: relative;
}
.welc-item3 a {
  margin-top: 50px;
}
.p1{
    text-transform: capitalize;
    padding-top: 30px;
    font-weight: bold;
    color: rgb(4, 92, 92);
    text-align: center;
}
.a1{
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color:rgb(95, 17, 17);
    font-weight: bolder;
    font-size:18px ;
}
.a1:hover {
    color: black;
}
.i1 {
    padding-top: 10px;
    font-size: 40px;
    color: rgb(46, 156, 147);
}
.i1:hover {
    color: #000;
}
.welc-item1::after {
    position: absolute;
    content: "";
    width: 0; height: 0;
    top: 0;  left: 0;
    background-color: lightcoral;
    opacity: 0;
}
.welc-item1:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 2s;
}
.welc-item2::after {
    position: absolute;
    content: "";
    width: 0; height: 0;
    top: 0;  left: 0;
    background-color: lightcoral;
    opacity: 0;
}
.welc-item2:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 2s;
}
.welc-item3::after {
    position: absolute;
    content: "";
    width: 0; height: 0;
    top: 0;  left: 0;
    background-color: lightcoral;
    opacity: 0;
}
.welc-item3:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 2s;
}
.portfolio-container {
    width: 80%;
    height: 800px;
    margin: auto;
}
.portfolio {
    background-color: #ecc5d2;
    margin-top: 200px;
}
.portfolio-title {
    text-align: center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
    padding-top: 100px;

}
.portfolio-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;

}
.portfolio-content {
    overflow: hidden;
    margin-top: 50px;
}
.portfolio-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding:20px;
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item.mg {
    margin: 0 5%;
}
.portfolio-item .layer-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition:opacity 1s;
}
.portfolio-item:hover .layer-content{
    opacity:1;
    visibility: visible;
}
 .layer-content .layer-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.layer-content .category {
    color: white;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
}
.layer-content-title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.layer-content a  {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #ca204a;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category{
   top:0;
   opacity: 1;
   visibility: visible;
}
.layer-content a i{
    line-height: 40px;
    color: white;
}
.offer-container {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
}
.offer-title {
    text-align: center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
}
.offer-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;
}
.offer-content {
    margin-top: 100px;
    overflow: auto;
    position: relative;
}
.offer-item{
    width:30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #810d0d ;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg{
    margin: 0%  5%;
}
.offer-item .i2{
    position: absolute;
    left:15px;
    top:26px;
    color:darkred;
}
.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: 1s;
}
.offer-item-desc {
 text-transform: capitalize;
 margin-bottom: 15px;
 line-height: 1.6;
 color: rgb(25, 151, 120);
 }
 .offer-item:hover .offer-item-title{
     color: red;
 }
 .offer-item:hover .offer-item-desc {
    color: red;
 }
 .offer-item:hover .i2 {
    color: #000;
 }
 .offer-item::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 0;
    top: 0; left: 0;
    background-color: aqua;
    opacity: 0.3;
    transition: 2s;
 }
 .offer-item:hover::after {
    width: 100%;height: 100%;
    
 }
 .offer-item::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 0;
    bottom:  0; right: 0;
    background-color: aqua;
    opacity: 0.3;
    transition: 2s;
 }
 .offer-item:hover::before {
    width: 100%;height: 100%;
    
 }

.service-item{
    width:50%;
    float:left;

}
.clear {
    clear: both;
}
.service-container {
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 400px;
}
.service-title {
    text-align:left;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
}
.service-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    text-align: left;
}
.service-header{
    margin-bottom: 80px;
}
.service-item-desc{
    padding-right: 20px;
    color:#8a1313;
    line-height: 1.4;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.service-item-img {
    margin-left: 100px;
}
.service-list {
    list-style: none;
    padding-right: 100px;
}
.service-list:hover{
    font-style: italic;
}
.service-list li i {
    border: 1px solid #05a2d1;
    color: #095e69;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height:20px;
}
.service-list li{
    margin-bottom: 13px;
    color: #072c33;
}
.service-bullets{
    list-style: none;
    text-align: center;
}
.service-bullets li{
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #a8a8a8;
    margin: 10px 5px;
    border-radius: 50%;
}
.service-bullets li.active{
    background-color: #033538;
}
.service-bullets li:hover{
    background-color: #073950;
}
.brands-container {
    width: 100%;
    height: 800px;
    margin: auto;
    background-image: url(../Images/contentImage\ \(29\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.brands-title {
    text-align: center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
    padding-top: 100px;
}
.brands-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;
}
.brands-img {
    text-align: center;
    margin-top: 100px;
}
.brands-img:hover{
    opacity: 0.6;
    color: #39bbb0;
}
.brands-btn {
    width:300px;
    padding: 15px 0px;
    border-radius: 30px;
    border: 0 ;
    cursor: pointer ;
    font-size: 20px;
    background-color: aqua;
    color:#fff;
    margin-top: 100px;
    margin-left: 500px;
}
.brands-btn:hover {
    opacity: 0.6;
    color: #000;
}
.numbers {
    position: relative;
    background-image: url(../Images/contentImage\ \(30\).jpg);
    height:350px;
    background-size: cover;
    background-attachment: fixed;
}
.numbers-items{
    overflow:hidden;
    padding-top: 130px;
}
.number-item {
    width: 25%;
    float: left;
    text-align:center;
}
.number-item .icon{
    color:#a50000;
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.number-item-text {
    color: #fff;
}
.pricing-container {
    background-color: #e8e8e8;
}
.pricing-plans{
    width: 80%;
    height: 600px;
    overflow: hidden;
    margin: auto;
    margin-top: 150px;
}
.pricing-title {
    text-align: center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
    padding-top: 100px;
}
.pricing-line{
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;
}
.pricing-item{
    float: left;
    width:30%;
    padding:30px 15px;
    border: 1px solid #3a98b4;
    text-align: center;
    height: 400px;
}
.pricing-item-text {
    text-transform: uppercase;
    font-size: 21px;
    color:#0c5663;
    font-weight: bold;
    font-style: italic;
}
.pricing-list{
    padding-bottom: 40px;
    list-style:square;
    font-weight: bold;
}
.pricing-item-permonth{
    width: 100px;
    height: 100px;
   padding:12px 0;
    margin: 20px auto;
    border: 2px solid #084952;
    border-radius: 50%;
    background-color: #ca204a;
    margin-top: 30px;
}
.doller{
    font-size: 50px;
}
.month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.pricing-item-purchase{
    font-weight: bold;
    font-size: 15px;
    color: rgb(88, 8, 8);
    border: 2px solid #2aa1a1;
    margin: auto;
    padding:8px;
    background-color: aqua;
    display: block;
    width: 130px;
    transition: color .5s;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-list li{
    color:#074c55;
    line-height: 1.8;
}
.pricing-item{
    position: relative;
}
.pricing-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0 ;
    top: 0;
    left: 0;
    background-color: #1fc0c0;
    transition: .5s;
    opacity:.5;
}
.pricing-item:hover::after{
    width: 100%;
    height: 100%;
}
.testimonial {
    position: relative;
    background-image: url(../Images/contentImage\ \(28\).jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
}   
.testimonial-content{
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.testimonial-item {
    float: left;
    width: 50%;
    color:rgb(4, 57, 61);
    padding-right: 20px;
    padding-top: 55px;
    margin-bottom: 110px;
}
.testimonial-toplayer{
   padding:90px 20px 10px 150px;
   position:relative;
   line-height: 1.4;
   margin-bottom: 20px;
}
.testimonial-toplayer img{
   position: absolute;
   top: 82px;
   left: 65px;
   border-radius: 50%;
}
.testimonial-desc{
   text-transform: capitalize;
   line-height: 1.5;
   margin-left: 76px;
   font-size: 14px;
}
.testimonial-toplayer span{
   color: #520101;
}
.team {
    width: 80%;
    height: 600px;
    margin: auto;
    margin-top:150px;
}
.team-title {
    text-align:center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
}
.team-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;
}
.team-header {
    margin-bottom: 100px;
}
.team-content{
    overflow: hidden;
    padding-left: 70px;
}
.team-item{
    display: block;
    float: left;
    width: 28%;
    background-color: #d1caca;
    padding: 17px 13px;
    text-align: center;
    position: relative;
}
.team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: rgba(88, 210, 214, 0.5);
    visibility: hidden;
    opacity:0;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-overlay a {
    display: block;
    width: 40px;
    height:40px;
    background-color: #075b69;
    color:#8a1414;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-info-title{
    color:#083b44;
    padding:10px 0;
}
.team-info-text{
    color:#1e7c8d;
    text-transform: uppercase;
    font-size: 14px;
}
.team-item.mg{
    margin: 0 5%;
}
.team-img img{
    width: 100%;
}
.team-item:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: #bd0000;
    opacity: 0;
}
.team-item:hover:after{
    width: 100%;
    height: 100%;
    opacity:.4;
    transition: 1s;
}
.team-item:hover .team-info-title{
    color:#fff;
    transition:  .5s;
}
.team-item:hover .team-info-text{
    color: rgb(161, 22, 80);
    transition: 1s;
}
/* 3.10 BLOG SECTION........................................................................................ */
.blog {
    width: 80%;
    height: 800px;
    margin: auto;
}
.blog-title {
    text-align:center;
    color: rgb(2, 8, 0);
    text-transform: capitalize;
    font-size: 33px;
}
.blog-line {
    width: 90px;
    height: 3px;
    background-color: rgb(110, 8, 8);
    margin: auto;
}
.blog-header {
    margin-bottom: 100px;
}
.blog-content{
    overflow: hidden;
    background-color: #f8f8f8;
}
.blog-item{
    float: left;
    width: 30%;
    background-color: #fff;
    position: relative;
}
.blog-item-img{
    width: 100%;
    margin-left: 23px;
}
.blog-list{
    list-style: none;
    text-align: center;
}
.blog-list li{
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
}
.blog-list li  i{
    color: #bd040e;
}
.blog-info{
    padding: 20px;
}
.blog-info-title{
    font-weight: bold;
    margin: 20px 0;
    margin-bottom: 25px;
    padding-top: 20px;
    color: #256875;
}
.blog-desc{
    color: #368686;
    margin-bottom: 20px;
    line-height: 1.5;
}
.blog-link{
    color:darkred;
    font-weight: bold;
    text-decoration: none;
    
}
.blog-item.mg{
    margin: 0 5%;
}
.blog-item:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    transition: 1s;
    opacity: 0;
    background-color: #338d91;
}
.blog-item:hover:after{
    width: 100%;
    height: 100%;
    opacity: .5;
}
/* 3.11 FOOTER SECTION....................................................................................... */
.mmg{
    width: 200px;
    height: 100px;
}
.footer-content{
   width: 100%;
   height: 400px;
    background-color: #0f7e6b;
}
.footer-info {
    padding-top: 50px; 
    text-align: center; 
}
.footer-p1 {
    text-align: center;
    color: darkred;
    font-size: 25px;
    padding-top: 50px;
}
.footer-links{
    list-style: none;
    margin-right: 400px;
    padding-top: 20px;
}
.footer-links li{
    display: inline-block;
    background-color: rgb(170, 8, 8);
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.footer-links li a{
    display: block;
    width:100%;
    height: 100%;
    color: rgb(60, 170, 170);
    line-height: 50px;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 23px;
    margin: 0 8px;
}

.footer-p{
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
}